<div class="full flex flex-col items-center justify-center bg-gray-100"
    style="height: 100%; width: 100vw; background-image: url('http://localhost:4200/img/b7.jpeg'); background-size: cover;">
    <div class="bg-white p-6 rounded-lg shadow-md w-96 h-auto">
        <div class="w-96 p-6 text-xl font-bold">!!!ברוכים הבאים למכירה הסינית</div>
        <div class="w-96 p-2 ">אנחנו מזמינים אתכם לרכוש כרטיסים ולזכות בהגרלות</div>
        <div class="w-96 p-2">כל ההכנסות קודש לצדקה</div>
        <div class="flex justify-between mt-6">
            <a class="p-button font-bold w-full mr-2" routerLink="/register">הרשמה</a>
            <a class="p-button font-bold w-full mr-2" routerLink="/login">כניסה</a>
            <a class="p-button font-bold w-full mr-2" routerLink="/gifts">רכישת כרטיסים</a>
        </div>
    </div>
</div>